body { 
  	width: 100%; 
  	height: 100%; 
  	margin: 0px; 
  	padding: 0px; 
}

.open > .dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration:.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration:.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration:.2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-menu {
    border: 1px solid #ddd;
    border-radius: 0.25em;
    margin: auto;
    height: 40px;
    width: 1000px;
}

.nav li.dropdown ul.dropdown-menu li:HOVER ul {
    display:block; 
    position:absolute; 
    left:100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.nav li.dropdown ul.dropdown-menu ul {
    display: none;
    float:right;
    position: relative;
    top: auto;
    margin-top: -30px;
}
.dropdown .dropdown-menu{
    z-index:3000;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #555555;
    background-color: #0B9BCD;
    text-shadow: none !important;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #0B9BCD;
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0B9BCD;
    background-image: none;
    filter: none;
}

.right-caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity:0.3;
    vertical-align: middle;
    width: 0;
}

.ui-cytoscape-panzoom {
    z-index: 1000;
}

.ui-widget-header {
    background: #0B9BCD;
    border: 1px solid #0B9BCD !important;
}

.ui-dialog {
    z-index : 2000 !important;
    border: 2px solid #0B9BCD !important;
}

.ui-widget-header .ui-icon {
    background-image: url(images/ui-icons_0B9BCD_256x240.png);
}

#fancybox-wrap {
    z-index : 4000 !important;
}

.qtip-bootstrap .qtip-titlebar{
    background-color: #F7CAA9;
}

.qtip-bootstrap{
  border: 2px solid #F7CAA9;
}

#sbgn-network-container {
    margin: auto;
    border: 1px solid #ddd;
    height: 680px;
    width: 1000px;
    overflow: auto !important;
    border-radius: 0.25em;
}

#sbgn-info-content{
    margin: auto;
    height: 25px;
    width: 1000px;
    overflow: auto !important;
}

.sbgn-label{
    float:right;
    text-align: right;
    color: #0B9BCD !important;
}

.input-file{
    float:left;
    text-align: right;
    color: #d67614 !important;
    font-size: 12px !important;
}

.sbgn-nav-bar {
    margin: auto;
    width: 1000px;
    overflow: visible !important;
    font-size: 12px !important;
}

.sbgn-frame {
    border: 2px solid #0B9BCD;
    padding-bottom : 10px;
}

.marg {
    margin-bottom : -6px;
}

.sbgn-text {
    color :#0B9BCD;
    text-align: center;
    font-weight:bold;
}

.address-text {
    font-size:11px;
    text-align: center;
}

.quick-help-content {
	font-size: 11px;
	margin-left: 20px;
	margin-right: 20px;
}

.node-details-text {
    font-size:11px;
    text-align: center;
}

.centered {
    display: block; 
    margin: 0 auto;
}

.layout-text {
    font-size: 12px !important; 
}